<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinmay Blogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.default.min.css')}}">
    <link href="{{url_for('static',filename='css/templatemo-pod-talk.css')}}" rel="stylesheet">
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <h3 class="text-white"><a href="/">CHINMAY BLOGS</a></h3>
                <div class="ms-4">
                    {% if session['user_name'] %}
                    <a href="#" class="btn custom-btn custom-border-btn">{{session['user_name']}}</a>
                    <a href="/create_blog" class="btn custom-btn custom-border-btn">Create Blog</a>
                    <a href="/logout" class="btn custom-btn custom-border-btn">Logout</a>
                    {% else %}
                    <a href="/login" class="btn custom-btn custom-border-btn">Login</a>
                    <a href="/register" class="btn custom-btn custom-border-btn">Sign up</a>
                    {% endif %}
                   
                </div>
            </div>
        </nav>
        <section class="hero-section">
        <section class="latest-podcast-section pb-0" id="section_2">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Lastest Blogs</h4>
                        </div>
                    </div>
                    {% for i in data %}
                    <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block d-flex">
                            {% if session['user_name'] %}
                            {% if session['user_name'] == i['user_name'] %}
                            <div class="">
                                <div class="mt-2">
                                    <a href='/delete/{{i["blog_id"]}}' class="btn custom-btn">
                                        Delete
                                    </a>
                                </div>
                            </div>
                            {% endif %}

                             {% endif %}
                            <div class="custom-block-info">
                                <div class="custom-block-top d-flex mb-1">
                                    <small>{{i['blog_date']}}</small>
                                </div>

                                <h5 class="mb-2">
                                    <a href='/view_blog/{{i["blog_id"]}}'>
                                        {{i['blog_title']}}
                                    </a>
                                </h5>
                                <div class="profile-block d-flex">
                                    <p>
                                        By
                                        <strong>{{i['user_name']}}</strong></p>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        </section>
    </main>
<footer class="site-footer">   
    <div class="container pt-5">
        <div class="row align-items-center">

            <div class="col-lg-3 col-12">
                <a  class="btn custom-btn custom-border-btn" href="https://github.com/chinu042" target="_blank">Site by  Chinmay Jain</a> 
                 </div>
        </div>
    </div>
</footer>

</body>

<!-- JAVASCRIPT FILES -->
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"></script>
</html>