<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinmay Blogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.default.min.css')}}">
    <link href="{{url_for('static',filename='css/templatemo-pod-talk.css')}}" rel="stylesheet">
</head>

<body>
<main>
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<h3 class="text-white"><a href="/">CHINMAY BLOGS</a></h3>
			<div class="ms-4">
				{% if session['user_name'] %}
				<a href="#" class="btn custom-btn custom-border-btn">{{session['user_name']}}</a>
				{% else %}
				<a href="/login" class="btn custom-btn custom-border-btn">Login</a>
				<a href="/register" class="btn custom-btn custom-border-btn">Sign up</a>
				{% endif %}
			</div>
		</div>
	</nav>
	<section class="hero-section">
		<section class="contact-section section-padding pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">You know, Login Page</h4>
                        </div>
        
                        <form action="/login" method="post" class="custom-form contact-form" role="form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-floating">
                                        <input type="text" name="email" id="full-name" class="form-control" placeholder="Full Name" required="">
                                        
                                        <label for="floatingInput">Email</label>
                                    </div>
                                </div>
        
                                <div class="col-lg-6 col-md-6 col-12"> 
                                    <div class="form-floating">
                                        <input type="password" name="password" class="form-control" placeholder="Email address" required="">
                                        
                                        <label for="floatingInput">Password</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12 ms-auto">
                                    <button type="submit" class="form-control">Login</button>
                                </div>
        
                            </div>
                        </form>
                    </div>
        
                </div>
            </div>
        </section>
		</section>
</main>
<footer class="site-footer">   
    <div class="container pt-5">
        <div class="row align-items-center">

            <div class="col-lg-3 col-12">
                <a  class="btn custom-btn custom-border-btn" href="https://github.com/chinu042" target="_blank">Site by  Chinmay Jain</a> 
                 </div>
        </div>
    </div>
</footer>

</body>

<!-- JAVASCRIPT FILES -->
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"></script>
</html>